@charset "UTF-8";
html {
  font-size: 16px;
}

body {
  font-family: "Roboto", "Noto Sans JP", serif;
}

a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

a {
  transition: opacity 0.3s;
}
a:hover {
  opacity: 0.7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

@media screen and (max-width: 768px) {
  .md-none {
    display: none;
  }
}

.md-show {
  display: none;
}
@media screen and (max-width: 768px) {
  .md-show {
    display: block;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: transparent;
  z-index: 1000;
}

.js-header {
  transition: background-color 0.3s ease;
}

.js-header.is-scrolled {
  background-color: #fff;
}

.header__inner {
  display: flex;
  height: inherit;
  padding-left: 22px;
}
@media screen and (max-width: 768px) {
  .header__inner {
    padding-left: 14px;
  }
}

.header__name {
  display: flex;
  align-items: center;
  height: inherit;
  width: 171px;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .header__name {
    width: 132px;
  }
}

.header__nav {
  height: inherit;
}

.header__items {
  display: flex;
  height: inherit;
}

.header__item {
  height: inherit;
}

.header__item:not(:first-child) {
  margin-left: 60px;
}

.header__link {
  height: inherit;
  display: flex;
  align-items: center;
  color: #141414;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.header__link--contact {
  width: 109px;
  justify-content: center;
  background-color: #B19775;
  color: #fff;
}

.hamburger {
  position: fixed;
  top: 26px;
  right: 15px;
  width: 25px;
  height: 18px;
  z-index: 9999;
}

.hamburger.is-active {
  top: 27px;
  right: 14px;
}

.hamburger span {
  position: absolute;
  left: 0;
  display: inline-block;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #141414;
  transition: background-color 0.3s, transform 0.3s, opacity 0.3s;
}

.hamburger.is-active span {
  background-color: #fff;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  top: 8px;
}

.hamburger span:nth-child(3) {
  top: 16px;
}

.hamburger.is-active span:nth-child(1) {
  top: 8px;
  transform: rotate(-45deg);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
  top: 8px;
  transform: rotate(45deg);
}

.drawer-menu {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  padding: 201px 0;
  background-color: rgba(56, 44, 34, 0.84);
  z-index: 5000;
}

.drawer-menu__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.drawer-menu__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.drawer-menu__item:not(:first-child) {
  margin-top: 46px;
}

.drawer-menu__link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.contact-btn--drawer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 6px;
  background-color: #B19775;
}

.mv {
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.mv__inner {
  height: inherit;
  width: 100%;
}

.mv__slider {
  height: inherit;
  width: 100%;
}

.swiper-wrapper {
  position: relative;
  height: inherit;
  width: 100%;
}

.swiper-slide {
  height: inherit;
}

.swiper-slide picture {
  height: inherit;
}

.swiper-slide picture img {
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.mv__title-container {
  position: absolute;
  top: 50%;
  left: 120px;
  transform: translateY(-48%);
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .mv__title-container {
    left: 34px;
    transform: translateY(-50%);
  }
}

.mv__title-main {
  color: #141414;
  font-weight: 500;
  letter-spacing: 0.05em;
  font-size: 38px;
  line-height: 1.5263157895;
}
@media screen and (max-width: 768px) {
  .mv__title-main {
    font-size: 28px;
    line-height: 1.4285714286;
    letter-spacing: 0;
  }
}

.mv__title-sub {
  color: #141414;
  font-weight: 500;
  letter-spacing: 0.05em;
  font-size: 15px;
  margin-top: 18px;
}
@media screen and (max-width: 768px) {
  .mv__title-sub {
    font-size: 14px;
    letter-spacing: 0;
    margin-top: 7px;
  }
}

.concept {
  position: relative;
  width: 100%;
  padding: 134px 0 40px;
}
@media screen and (max-width: 768px) {
  .concept {
    padding: 92px 0 39px;
  }
}

.concept__decoration {
  position: absolute;
  top: 192px;
  right: 8.5%;
  width: 19.5vw;
  height: 79%;
  background-color: #F7F3E9;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .concept__decoration {
    top: 130px;
    right: 0;
    width: 48vw;
    height: 84.5%;
  }
}

.concept__inner.inner {
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .concept__inner.inner {
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .concept__title.section-title {
    text-align: left;
  }
}

.concept__container {
  width: 100%;
}

.concept__content {
  width: 100%;
  padding-top: 40px;
}

.concept__content img {
  width: 100%;
  border-radius: 20px 0 0 0;
}
@media screen and (max-width: 768px) {
  .concept__content img {
    min-height: 180px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.concept__text {
  letter-spacing: 0.05em;
  color: #141414;
}
@media screen and (max-width: 768px) {
  .concept__text {
    padding-right: 15px;
  }
}

.concept__text--main {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.7272727273;
  margin-top: 31px;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 768px) {
  .concept__text--main {
    font-size: 18px;
    line-height: 1.7777777778;
    margin-top: 20px;
  }
}

.concept__text--sub {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8666666667;
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .concept__text--sub {
    font-size: 14px;
    line-height: 1.8571428571;
    margin-top: 20px;
  }
}

.service {
  position: relative;
  width: 100%;
  padding: 133px 0 0;
}
@media screen and (max-width: 1024px) {
  .service {
    padding: 94px 0 0;
  }
}

.service__decoration {
  position: absolute;
  top: 50%;
  transform: translateY(-11%);
  width: 100vw;
  height: 38%;
  background-color: #F7F3E9;
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  .service__decoration {
    transform: translateY(-40%);
    height: 65%;
  }
}
@media screen and (max-width: 768px) {
  .service__decoration {
    top: 129px;
    left: 0;
    transform: translateY(0);
    width: 48%;
    height: 93.8%;
  }
}

@media screen and (max-width: 768px) {
  .service__title.section-title {
    text-align: right;
  }
}

.service__container {
  margin-top: 38px;
}
@media screen and (max-width: 768px) {
  .service__container {
    margin-top: 38px;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 30px;
}
@media screen and (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 0 47px 0 48px;
    row-gap: 29px;
  }
}

.card {
  border-radius: 20px 0 0 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s;
}
.card:hover {
  transform: scale(1.08);
}

.card__link {
  height: inherit;
}

.card img {
  width: 100%;
  border-radius: 20px 0 0 0;
}

.card__content {
  display: flex;
  flex-direction: column;
  padding: 11px;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .card__content {
    padding: 10px;
  }
}

.card__text {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin-top: 5px;
  color: #141414;
}
@media screen and (max-width: 768px) {
  .card__text {
    font-size: 14px;
    margin-top: 0;
  }
}

.card__tag {
  margin-left: auto;
  margin-top: 16px;
}
@media screen and (max-width: 768px) {
  .card__tag {
    margin-top: 8px;
  }
}

.tag {
  background-color: #ACA28B;
  color: #fff;
  font-family: "Roboto";
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.05em;
  padding: 1px 13px;
}
@media screen and (max-width: 768px) {
  .tag {
    padding: 1px 12px;
  }
}

.access {
  width: 100%;
  padding-top: 133px;
}
@media screen and (max-width: 768px) {
  .access {
    padding-top: 135px;
  }
}

.access__inner {
  max-width: 850px;
  padding: 0 25px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .access__inner {
    padding: 0 15px;
  }
}

.access__container {
  width: 100%;
  margin-top: 39px;
}

.access__item:not(:first-child) {
  margin-top: 17px;
}

.access-item {
  display: flex;
  padding-bottom: 14px;
  border-bottom: solid 1px #C8C8C8;
}
@media screen and (max-width: 768px) {
  .access-item {
    flex-direction: column;
  }
}

.access-item__name {
  width: 279px;
  color: #141414;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.access-item__content {
  font-family: "Noto Sans JP";
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 768px) {
  .access-item__content {
    margin-top: 9px;
  }
}

.access iframe {
  width: 100vw;
  height: 51.5vh;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .access iframe {
    height: 42vh;
  }
}

.contact {
  width: 100%;
  padding: 74px 0 150px;
  background-image: url(/images/top/contact.jpg);
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 768px) {
  .contact {
    background-image: url(/images/top/contact-sp.jpg);
    padding: 55px 0 130px;
  }
}

.contact__inner {
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .contact__inner {
    padding: 0 15px;
  }
}

.contact__title {
  -moz-text-align-last: left;
       text-align-last: left;
  margin-left: 180px;
}
@media screen and (max-width: 768px) {
  .contact__title {
    margin-left: 0;
  }
}

.contact__container {
  text-align: center;
  margin: 39px auto 0;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .contact__container {
    margin-top: 60px;
  }
}

.contact__text {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 768px) {
  .contact__text {
    font-size: 14px;
  }
}

.contact__btn {
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .contact__btn {
    margin-top: 14px;
  }
}

.contact-btn {
  position: relative;
  transform: translateX(-10px);
  width: 340px;
  height: 77px;
  outline: 2px solid #fff;
  outline-offset: -2px;
  border-radius: 6px;
  box-sizing: content-box;
}
@media screen and (max-width: 768px) {
  .contact-btn {
    transform: translateY(0);
    width: 260px;
    height: 22px;
    padding: 18px 0;
  }
}

.contact-btn__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: inherit;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
  transition: 0.3s letter-spacing;
}
@media screen and (max-width: 768px) {
  .contact-btn__link {
    font-size: 15px;
    font-weight: 400;
  }
}
.contact-btn__link:hover {
  opacity: 1;
  letter-spacing: 0.22em;
}

.contact-btn__link::before,
.contact-btn__link::after {
  position: absolute;
  top: 50%;
  right: 23px;
  display: inline-block;
  content: "";
  background-color: #fff;
  width: 8px;
  height: 2px;
}

.contact-btn__link::before {
  transform: rotate(-45deg);
  transform-origin: right center;
}

.contact-btn__link::after {
  transform: rotate(45deg);
  transform-origin: right center;
}

.footer {
  position: relative;
  display: flex;
  width: 100%;
  background-color: #382C22;
  padding: 30px 0;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 20px 0;
  }
}

.copy-right {
  color: #F7F7EE;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  margin: 0 auto;
}

.page-top-button {
  position: fixed;
  z-index: 9000;
  right: 40px;
  bottom: 121px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid #141414;
  cursor: pointer;
  background-color: transparent;
}
@media screen and (max-width: 768px) {
  .page-top-button {
    width: 28px;
    height: 28px;
    right: 15px;
    bottom: 75px;
  }
}

.page-top-button::after {
  position: absolute;
  top: 30%;
  left: 55%;
  width: 7px;
  height: 7px;
  content: "";
  transform: rotate(-45deg) translate(-50%, -50%);
  border-top: 1px solid #141414;
  border-right: 1px solid #141414;
}

.page-top-button::before {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 1px;
  height: 21px;
  content: "";
  background-color: #141414;
}
@media screen and (max-width: 768px) {
  .page-top-button::before {
    left: 48%;
    height: 13px;
  }
}

.contact-mv {
  width: 100%;
  height: 65.5vh;
  background-image: url(/images/contact/contact-fv.jpg);
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 1024px) {
  .contact-mv {
    height: 66.7vh;
    background-image: url(/images/contact/contact-fv-sp.jpg);
  }
}

.contact-mv__inner {
  position: relative;
  width: 100%;
  height: inherit;
  padding: 0 25px;
}
@media screen and (max-width: 768px) {
  .contact-mv__inner {
    padding: 0 15px;
  }
}

.contact-mv__title.section-title {
  position: absolute;
  top: 49.5%;
  left: 8.3%;
  display: flex;
  flex-direction: column;
  -moz-text-align-last: left;
       text-align-last: left;
}
@media screen and (max-width: 768px) {
  .contact-mv__title.section-title {
    top: 45%;
    left: 4%;
  }
}

.contact-mv__title-main.title-main {
  font-size: 38px;
}
@media screen and (max-width: 768px) {
  .contact-mv__title-main.title-main {
    font-size: 34px;
  }
}

.contact-mv__title-sub.title-sub--other {
  font-size: 14px;
  letter-spacing: 0.07em;
}
@media screen and (max-width: 768px) {
  .contact-mv__title-sub.title-sub--other {
    font-size: 12px;
    line-height: 1.3em;
  }
}

.contact-form {
  width: 100%;
  padding: 82px 0 80px;
}
@media screen and (max-width: 768px) {
  .contact-form {
    padding: 60px 0;
  }
}

.contact-form__inner {
  width: 100%;
  max-width: 850px;
  padding: 0 25px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .contact-form__inner {
    padding: 0 15px;
  }
}

.contact-form__message-text {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.8666666667;
  letter-spacing: 0.05em;
  color: #141414;
}
@media screen and (max-width: 768px) {
  .contact-form__message-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.8571428571;
    letter-spacing: 0.05em;
  }
}

.contact-form__container {
  width: 100%;
  padding: 63px 0 60px;
  margin-top: 57px;
  background-color: #F7F3E9;
  border-radius: 20px 0 0 0;
}
@media screen and (max-width: 768px) {
  .contact-form__container {
    padding: 32px 20px 40px;
    margin-top: 40px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__list {
  width: 100%;
  max-width: 498px;
}
@media screen and (max-width: 768px) {
  .form__list {
    max-width: 305px;
  }
}

.form__item:nth-child(2) {
  margin-top: 22px;
}
@media screen and (max-width: 768px) {
  .form__item:nth-child(2) {
    margin-top: 12px;
  }
}

.form__item:nth-child(3) {
  margin-top: 25px;
}
@media screen and (max-width: 768px) {
  .form__item:nth-child(3) {
    margin-top: 12px;
  }
}

.form__item:nth-child(4) {
  margin-top: 26px;
}
@media screen and (max-width: 768px) {
  .form__item:nth-child(4) {
    margin-top: 2px;
  }
}

.form__item:nth-child(5) {
  text-align: left;
  margin-top: 24px;
}
@media screen and (max-width: 768px) {
  .form__item:nth-child(5) {
    text-align: center;
    margin-top: 19px;
  }
}

.form__item > dl {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .form__item > dl {
    flex-direction: column;
    align-items: flex-start;
  }
}

dl.form__dl--kinds {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form__label-text {
  font-size: 14px;
  font-weight: 500;
  margin-top: 8px;
}

.form__label-text span {
  color: #F93212;
}

@media screen and (max-width: 768px) {
  .form__input {
    width: 100%;
    margin-top: 4px;
  }
}

.form__input-text {
  width: 360px;
  padding: 9px 12px;
  background-color: #fff;
  font-family: "Noto Sans JP";
  font-size: 14px;
  font-weight: 400;
  color: #C8C8C8;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 768px) {
  .form__input-text {
    width: 100%;
    max-width: 305px;
  }
}

.form__input.form__input--radio {
  font-size: 14px;
  font-weight: 400;
  margin-top: 19px;
}
@media screen and (max-width: 768px) {
  .form__input.form__input--radio {
    margin-top: 1px;
    line-height: 2.5;
  }
}

.form__input.form__input--radio > label {
  margin-left: 22px;
}
@media screen and (max-width: 768px) {
  .form__input.form__input--radio > label {
    margin-left: 12px;
  }
}

@media screen and (max-width: 768px) {
  .form__input.form__input--radio > label:nth-child(2),
.form__input.form__input--radio > label:nth-child(5) {
    margin-left: 22px;
  }
}

.custom-radio {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #C0AC91;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  margin-right: 4px;
}

input[type=radio]:checked + .custom-radio::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #C0AC91;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

dl.form__dl--text-content {
  display: flex;
  align-items: flex-start;
  height: 100%;
}
@media screen and (max-width: 768px) {
  dl.form__dl--text-content {
    justify-content: flex-start;
  }
}

.form__label.form__label--text-content {
  padding-top: 11px;
}
@media screen and (max-width: 768px) {
  .form__label.form__label--text-content {
    padding-top: 3px;
  }
}

.form__textarea {
  width: 360px;
  height: 171px;
  background-color: #fff;
  padding: 10px 12px;
  font-size: 14px;
  font-weight: 400;
  color: #C8C8C8;
  margin-top: 5px;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__textarea {
    width: 100%;
    max-width: 305px;
    margin-top: -2px;
  }
}

.form__input.form__input--btn {
  width: 100%;
  max-width: 360px;
}
@media screen and (max-width: 768px) {
  .form__input.form__input--btn {
    max-width: 305px;
  }
}

.button {
  width: 180px;
  height: 50px;
  border-radius: 6px;
  background-color: #B19775;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}

.thanks {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.thanks__inner {
  width: 100%;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.thanks__container {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

.thanks__title {
  color: #141414;
}

.thanks__message {
  font-size: 16px;
  color: #141414;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .thanks__message {
    font-size: 14px;
  }
}

.thanks__btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  color: #fff;
  background: #B19775;
  text-decoration: none;
  border-radius: 5px;
}

.inner {
  width: 100%;
  max-width: 1080px;
  padding: 0 25px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .inner {
    padding: 0 15px;
  }
}

.section-title {
  text-align: center;
}

.title-main {
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 0.05em;
  color: #141414;
}

.title-sub {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.05em;
  color: #B19775;
}

.title-main--reverse {
  color: #fff;
}

.title-sub--other {
  color: #141414;
  font-weight: 500;
}