@use "sass:math";
// 色
$white: #fff;
$white2: #F7F3E9;
$white3: #F7F7EE;
$black: #141414;
$black2: #000000;
$brown: #B19775;
$brown2: #ACA28B;
$brown3: #382C22;
$brown4: #C0AC91;
$gray: #C8C8C8;
$red: #F93212;

